/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

.mainContainer {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: black;
}

li a:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 520px;
}

/****** Ajout du formulaire de login *****/
#contact,
.login-form {
	width: 50%;
	margin: auto;
}

#contact > *,
.login-form > * {
	text-align: center;
}

#contact h2,
.login-form h2 {
	margin-bottom: 20px;
}

#contact form,
.login-form form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
.login-form input,
select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
.login-form label {
	margin: 2em 0 1em 0;
}

#contact textarea,
.login-form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-form p {
	text-decoration-line: underline;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/****** FILTRES ******/
.btns-container {
	text-align: center;
	width: 100%;
	margin: 40px 0;
}

.btn {
	height: 37px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	background: white;
	color: #1D6154;
	padding: 9px 20px;
	margin: 7px;
	cursor: pointer;
}

.btn.btn-active {
	background: #1D6154;
	color: white;
}

/***** MODE EDITION *****/
#edition {
	width: 100%;
	height: 59px;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 500;
	gap: 15px;
}

.editionButton {
	background: black;
	color: white;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}

.editionModif {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.btn-publish {
	width: 215px;
	height: 38px;
	background-color: white;
	border: none;
	border-radius: 60px;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	cursor: pointer;
}

i {
	font-size: 17px;
	margin-right: 7px;
}

.editButton {
	background: white;
	color: black;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}

.editImage {
	margin-top: 15px;
	margin-left: 55px;
}

.editArticle {
	margin-bottom: 40px;
}

.titleWorks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 50px;
}

/****** MODALE ******/

.modal1,
.modal2 {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.modal1-off,
.modal2-off {
	display: none;
}

.modal1-wrapper,
.modal2-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 630px;
	height: 731px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
    overflow: auto;
    padding: 20px;
    background-color: white;
	border-radius: 10px;
	font-family: 'Work Sans';
	font-size: 16px;
}

.fa-xmark {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 20px;
	cursor: pointer;
}

.fa-arrow-left {
	position: absolute;
	left: 30px;
	top: 30px;
	font-size: 20px;
	cursor: pointer;
}


.modal1 h3,
.modal2 h3 {
	font-size: 26px;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 40px;
}

.modal1-gallery {
	width: 420px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 8px;
}

.modal1-figure {
	position: relative;
	height: 130px;
	width: 75px;
}

.modal1-img {
	height: 100px;
	width: 75px;
}

.trash {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 15px;
	height: 15px;
	background-color: black;
	cursor: pointer;
}

.fa-trash-can {
	color: white;
	font-size: 9px;
	margin-right: 0;
}

.arrows {
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 21px;
	top: 5px;
	width: 15px;
	height: 15px;
	background-color: black;
	cursor: pointer;
}

.fa-arrows-up-down-left-right {
	color: white;
	font-size: 9px;
	margin-right: 0;
}

.modal1-figure:hover .arrows {
	display: flex;
}

.modal1-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 2px solid #B3B3B3;
	width: 420px;
	margin-bottom: 20px;
	margin-top: 30px;
}

.modal1-add-button {
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	text-align: center;
	background-color: #1D6154;
	border-radius: 60px;
	border: none;
	margin : 2em auto;
	cursor: pointer;
}

.modal1-remove-link {
	color: #D65353;
	cursor: pointer;
}


/***** MODALE 2 *****/

.form-add-work {
	width: 420px;
}

.modal2-addimg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	padding: 20px;
}

.fa-image {
	font-size: 70px;
	color: lightgray;
	margin-bottom: 15px;
}

.modal2-addimg .image-size {
	font-family: 'Work Sans';
	font-size: 12px;
	font-weight: 400;
}

#miniature-container {
	height: 208px;
}

.miniature {
	width: auto;
	height: 208px;
	object-fit: cover;
}

.add-image-button .img-add-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	font-family: 'Work Sans';
	font-weight: 700;
	color: #1D6154;
	text-align: center;
	background-color: #B3B3B3;
	border-radius: 60px;
	border: none;
	margin-bottom: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.add-image-button input {
	display: none;
}

#modal2-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
}

#modal2-form input {
	width: 100%;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09)
}

#modal2-form label {
	margin: 2em 0 1em 0;
	font-size: 14px;
	font-weight: 500;
}

.modal2-valid {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 420px;
	border-top: 2px solid #B3B3B3;
	padding: 20px;
}

.modal2-valid .valid-button {
	width: 237px;
	height: 36px;
	font-family: 'Work Sans';
	font-weight: 700;
	color: white;
	text-align: center;
	background-color: #B3B3B3;
	border-radius: 60px;
	border: none;
	margin-bottom: 10px;
	margin-top: 20px;
}

.modal2-valid .valid-button-green {
	background-color: #1D6154;
	cursor: pointer;
}